<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>API to BDD info : </span><span th:text="${info}"></span><br/>
</body>
</html>