form {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: gray;
  color: rgb(0, 255, 213);
 /* display: flex;
  flex-direction: column;*/
}
.divurl {
  display: flex;
  width: 70%;
  flex-direction: column;
 /* justify-content: space-between;*/
  margin-bottom: 10px;
}
.divname {
  display: flex;
  width: 50%;
  flex-direction: column;
  /*justify-content: space-between;*/
  margin-bottom: 10px;
}
.title {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
 /* flex-shrink: 1;*/
}
label{
  text-align: left;
}


